/* Estilos para os blocos */


.card.text-bg-primary {
    background-color: #F8F9FA !important; /* Cor amarela */
}

.bg-primary {
    background-color: #737373 !important; /* Cor amarela */
}

.text-bg-primary {
    color: black !important;
}

